<div class="cell">
    <div class="grid-x grid-padding-x">
      <div class="cell small-6 medium-3 grid-y align-middle">
        <div class="cell medium-4 ci-darkgrey-font extra-huge-font margin-bottom-2" title="Select this field on the chess board to score points">
            <div data-toggler data-animate="fade-in fade-out" class="callout"
            [@changeFieldColor]="currentState"
            (@changeFieldColor.done)="resetFieldToSelectAnimation($event)" id="fieldContainer">
                {{ fieldToSelect }}
              </div>
          </div>
        <div class="cell medium-auto margin-top-2" *ngIf="correctAnswerSelected"><i class="fa fa-fw fa-check bolder-green extra-huge-font"></i></div>
        <div class="cell medium-auto margin-top-2" *ngIf="wrongAnswerSelected"><i class="fa fa-fw fa-times bolder-red extra-huge-font"></i></div>
        <div class="cell medium-auto">
          <button class="" data-toggle="fieldContainer" #fieldToSelectRef></button>
        </div>
      </div>

      <div class="cell small-6 margin-bottom-3">
        <app-board (onFieldSelected)="checkAnswer($event)"></app-board>
      </div>

      <div class="cell small-12 medium-3">
        <div class="callout">
          <ul class="no-bullet">
            <li class="bolder-green">Hits:      {{hits}}</li>
            <li class="bolder-red">Misses:    {{misses}}</li>
            <li>Accuracy:  {{accuracy | percent}}</li>
          </ul>
        </div>


    </div>
  </div>
