<header class="cell shrink header text-center">
    <div class="title-bar grid-x align-center ci-darkgrey-background" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <div class="cell medium-4 text-left grid-x grid-padding-x">
          <div class="cell shrink hover">
            <span class="" routerLink="landing" routerLinkActive="active" title="About the App"><i class="fa fa-fw  fa-question"></i></span>
          </div>
          <div class="cell shrink hover">
            <span class="" routerLink="game" routerLinkActive="active" title="Play the game, build your intuiton"><i class="fa fa-fw fa-play"></i></span>
          </div>
          <div class="cell shrink hover">
              <span class="" routerLink="gameanimated" routerLinkActive="active" title="Play the game with experimental animations"><i class="fa fa-fw fa-heartbeat"></i></span>
            </div>
        </div>
        <div class="cell medium-4">
          <div class="title-bar-title">Feel the board</div>
        </div>
        <div class="cell medium-4 text-right">
            <div type="menu-icon" data-toggle="responsive-menu" title="Options"><i class="fa fa-fw fa-cog hover"></i></div>
        </div>
      </div>
</header>

<div class="cell medium-auto grid-y grid-padding-x horizontal-padding padding-top-3">
    <div [@routeAnimations]="prepareRoute(outlet)" class="">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
</div>

<footer class="cell shrink hide-for-small-only footer grid-x grid-padding-x align-right">
    <div class="cell auto">

      </div>
      <div class="cell auto text-right">
          <a href="">Datenschutz</a> |
          <a href="">Impressum</a>
      </div>
</footer>
