@import '../app/scss/settings';

.game-title {
  color: green;
  font-size: 2em;
  text-align: center;
}

.center-items {
  align-items: center;
}

.font-white {
  color: white
}

.horizontal-margins {
  margin-left: 2em;
  margin-right: 2em;
}
