<!--The content below is only a placeholder and can be replaced.-->
<header class="cell shrink header text-center">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <div type="menu-icon" data-toggle="responsive-menu"><i class="fa fa-fw fa-cog"></i></div>
        <div class="title-bar-title"></div>
      </div>
      <h1 class="h3"></h1>
      <div class="grid-x grid-padding-x align-center">
        <div class="cell medium-4">
         <a class="button secondary" routerLink="landing"><i class="fa fa-home"></i></a>
        </div>
        <div class="cell medium-4">
            <div class="game-title">
                Feel the board
            </div>
        </div>
        <div class="cell medium-4">
         <a class="button success" routerLink="game"><i class="fa fa-play"></i></a>
        </div>
      </div>
</header>

<div class="cell medium-auto grid-y grid-padding-x medium-cell-block-container">
    <router-outlet></router-outlet>
</div>

<footer class="cell shrink hide-for-small-only footer grid-x grid-padding-x align-right">
    <div class="cell auto">
      </div>
      <div class="cell auto text-right">
          <a href="">Datenschutz</a> |
          <a href="">Impressum</a>
      </div>
</footer>
