/* You can add global styles to this file, and also import other style files */

//Foundation import
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/foundation-sites/assets/foundation.scss';

@import './app/scss/settings';

@include foundation-everything(true ,$prototype: true);

//global variables
$ci_darkgrey: rgb(40, 40, 40);
$ci_smokewhite: rgb(215,215,215);

.ci-darkgrey-background {
  background-color: $ci_darkgrey !important;
}

.ci-darkgrey-font {
  color: $ci_darkgrey !important;
}

.ci-smokewhite-background {
  background-color: $ci_smokewhite !important;
}

.ci-smokewhite-font {
  color: $ci_smokewhite !important;
}

//Loading animation
.heart-shape{
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(18, 165, 30);
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 200px;
  height: 200px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(18, 165, 30);
}
.heart-shape:before{
  bottom: 0px;
  left: -100px;
}
.heart-shape:after{
  top: -100px;
  right: 0px;
}


//Minor styles

.menu-icon {
  color: whitesmoke !important;
  cursor: pointer;
}

.center-items {
  align-items: center;
}

.center {
  text-align: center;
}

.active {
  border: solid 1px white;
}

.display-none {
  display: none;
}

.bolder-green {
  color: green;
  font-weight: bolder;
}

.bolder-red {
  color: red;
  font-weight: bolder;
}

.font-bold {
  font-weight: bold;
}

.center-items {
  align-items: center;
}

.extra-huge-font {
  font-size: 4em;
}

