.black-field {
  width: 4.5em;
  height: 4.5em;
  background-color: rgb(40,40,40);
  cursor: pointer;
}

.white-field {
  width: 4.5em;
  height: 4.5em;
  background-color: rgb(215,215,215);
  cursor: pointer;
}
