<div class="grid-y align-middle">
  <div class="cell grid-x no-wrap">
    <div class="cell field white" id="56" #a8 (click)="checkAnswer(a8)"></div>
    <div class="cell field black" id="57" #b8 (click)="checkAnswer(b8)"></div>
    <div class="cell field white" id="58" #c8 (click)="checkAnswer(c8)"></div>
    <div class="cell field black" id="59" #d8 (click)="checkAnswer(d8)"></div>
    <div class="cell field white" id="60" #e8 (click)="checkAnswer(e8)"></div>
    <div class="cell field black" id="61" #f8 (click)="checkAnswer(f8)"></div>
    <div class="cell field white" id="62" #g8 (click)="checkAnswer(g8)"></div>
    <div class="cell field black" id="63" #h8 (click)="checkAnswer(h8)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field black" id="48" #a7 (click)="checkAnswer(a7)"></div>
    <div class="cell field white" id="49" #b7 (click)="checkAnswer(b7)"></div>
    <div class="cell field black" id="50" #c7 (click)="checkAnswer(c7)"></div>
    <div class="cell field white" id="51" #d7 (click)="checkAnswer(d7)"></div>
    <div class="cell field black" id="52" #e7 (click)="checkAnswer(e7)"></div>
    <div class="cell field white" id="53" #f7 (click)="checkAnswer(f7)"></div>
    <div class="cell field black" id="54" #g7 (click)="checkAnswer(g7)"></div>
    <div class="cell field white" id="55" #h7 (click)="checkAnswer(h7)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field white" id="40" #a6 (click)="checkAnswer(a6)"></div>
    <div class="cell field black" id="41" #b6 (click)="checkAnswer(b6)"></div>
    <div class="cell field white" id="42" #c6 (click)="checkAnswer(c6)"></div>
    <div class="cell field black" id="43" #d6 (click)="checkAnswer(d6)"></div>
    <div class="cell field white" id="44" #e6 (click)="checkAnswer(e6)"></div>
    <div class="cell field black" id="45" #f6 (click)="checkAnswer(f6)"></div>
    <div class="cell field white" id="46" #g6 (click)="checkAnswer(g6)"></div>
    <div class="cell field black" id="47" #h6 (click)="checkAnswer(h6)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field black" id="32" #a5 (click)="checkAnswer(a5)"></div>
    <div class="cell field white" id="33" #b5 (click)="checkAnswer(b5)"></div>
    <div class="cell field black" id="34" #c5 (click)="checkAnswer(c5)"></div>
    <div class="cell field white" id="35" #d5 (click)="checkAnswer(d5)"></div>
    <div class="cell field black" id="36" #e5 (click)="checkAnswer(e5)"></div>
    <div class="cell field white" id="37" #f5 (click)="checkAnswer(f5)"></div>
    <div class="cell field black" id="38" #g5 (click)="checkAnswer(g5)"></div>
    <div class="cell field white" id="39" #h5 (click)="checkAnswer(h5)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field white" id="24" #a4 (click)="checkAnswer(a4)"></div>
    <div class="cell field black" id="25" #b4 (click)="checkAnswer(b4)"></div>
    <div class="cell field white" id="26" #c4 (click)="checkAnswer(c4)"></div>
    <div class="cell field black" id="27" #d4 (click)="checkAnswer(d4)"></div>
    <div class="cell field white" id="28" #e4 (click)="checkAnswer(e4)"></div>
    <div class="cell field black" id="29" #f4 (click)="checkAnswer(f4)"></div>
    <div class="cell field white" id="30" #g4 (click)="checkAnswer(g4)"></div>
    <div class="cell field black" id="31" #h4 (click)="checkAnswer(h4)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field black" id="16" #a3 (click)="checkAnswer(a3)"></div>
    <div class="cell field white" id="17" #b3 (click)="checkAnswer(b3)"></div>
    <div class="cell field black" id="18" #c3 (click)="checkAnswer(c3)"></div>
    <div class="cell field white" id="19" #d3 (click)="checkAnswer(d3)"></div>
    <div class="cell field black" id="20" #e3 (click)="checkAnswer(e3)"></div>
    <div class="cell field white" id="21" #f3 (click)="checkAnswer(f3)"></div>
    <div class="cell field black" id="22" #g3 (click)="checkAnswer(g3)"></div>
    <div class="cell field white" id="23" #h3 (click)="checkAnswer(h3)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field white" id="8" #a2 (click)="checkAnswer(a2)"></div>
    <div class="cell field black" id="9" #b2 (click)="checkAnswer(b2)"></div>
    <div class="cell field white" id="10" #c2 (click)="checkAnswer(c2)"></div>
    <div class="cell field black" id="11" #d2 (click)="checkAnswer(d2)"></div>
    <div class="cell field white" id="12" #e2 (click)="checkAnswer(e2)"></div>
    <div class="cell field black" id="13" #f2 (click)="checkAnswer(f2)"></div>
    <div class="cell field white" id="14" #g2 (click)="checkAnswer(g2)"></div>
    <div class="cell field black" id="15" #h2 (click)="checkAnswer(h2)"></div>
  </div>

  <div class="cell grid-x no-wrap">
    <div class="cell field black" id="0" #a1 (click)="checkAnswer(a1)"></div>
    <div class="cell field white" id="1" #b1 (click)="checkAnswer(b1)"></div>
    <div class="cell field black" id="2" #c1 (click)="checkAnswer(c1)"></div>
    <div class="cell field white" id="3" #d1 (click)="checkAnswer(d1)"></div>
    <div class="cell field black" id="4" #e1 (click)="checkAnswer(e1)"></div>
    <div class="cell field white" id="5" #f1 (click)="checkAnswer(f1)"></div>
    <div class="cell field black" id="6" #g1 (click)="checkAnswer(g1)"></div>
    <div class="cell field white" id="7" #h1 (click)="checkAnswer(h1)"></div>
  </div>
</div>
