.bolder-green {
  color: green;
  font-weight: bolder;
}

.bolder-red {
  color: red;
  font-weight: bolder;
}

.font-bold {
  font-weight: bold;
}

.center-items {
  align-items: center;
}

.extra-huge-font {
  font-size: 4em;
}
